.u-section-1 .u-sheet-1 {
  min-height: 103px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  background-image: none;
  margin: 17px auto 34px;
}.u-section-2 .u-sheet-1 {
  min-height: 181px;
}

.u-section-2 .u-form-1 {
  height: 139px;
  margin: 21px 545px 0 17px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-group-1 {
  width: 533px;
  min-height: 47px;
  height: auto;
  margin: -112px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-2 .u-text-1 {
  margin: 0 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-right: 362px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 945px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0 0;
}.u-section-4 .u-sheet-1 {
  min-height: 524px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 60px;
}