<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"
          content="​Secure Hash Algorithm, Разновидности, Описание алгоритмов, Криптоанализ SHA-1, Криптоанализ SHA-256">
    <meta name="description" content="">
    <title>Sha</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="css/sha.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
</head>

<body data-home-page="Главная.html" data-home-page-title="Главная" class="u-body u-xl-mode">

<header></header>

<section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280"
         data-image-height="789" id="sec-0189">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1"> Secure Hash Algorithm</h1>
        <p class="u-large-text u-text u-text-variant u-text-white u-text-2">- алгоритм криптографического хеширования.&nbsp;</p>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-1792">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="u-border-3 u-border-palette-1-base u-container-style u-expanded-width u-group u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <div class="u-form u-form-1">

                                        <form action="sha" method="POST"
                                              class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form"
                                              style="padding: 15px;" source="email" name="form">

                                            <div class="u-form-group u-form-name u-label-none u-form-group-1">
                                                <input type="text" placeholder="Текст для хеширования алгоритмом SHA-1"
                                                       id="name-6797" name="text"
                                                       class="u-border-1 u-border-grey-30 u-input u-input-rectangle"
                                                       required="">
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit">
                                                <button type="submit" style="">Sha-1</button>
                                                <input type="text" name="isFirstForm" style="visibility: hidden"
                                                       value="true">
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-3">
                            <div class="u-border-3 u-border-palette-1-base u-container-style u-expanded-width u-group u-group-2">
                                <div class="u-container-layout u-container-layout-4">
                                    <h5 class="u-text u-text-default u-text-1">
                                        {{sha1}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-3" id="carousel_e9f3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="u-border-3 u-border-palette-1-base u-container-style u-expanded-width u-group u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <div class="u-form u-form-1">
                                        <form action="sha" method="POST"
                                              class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form"
                                              style="padding: 15px;" source="email" name="form">
                                            <div class="u-form-group u-form-name u-label-none u-form-group-1">
                                                <input type="text"
                                                       placeholder="Текст для хеширования алгоритмом SHA-256"
                                                       id="name-6797" name="text"
                                                       class="u-border-1 u-border-grey-30 u-input u-input-rectangle"
                                                       required="">
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit">
                                            <button type="submit"> Sha-256</button>
                                            <input type="text" name="isFirstForm" style="visibility: hidden"
                                                   value="false">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-3">
                            <div class="u-border-3 u-border-palette-1-base u-container-style u-expanded-width u-group u-group-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-4">
                                    <h6 class="u-text u-text-default u-text-1">
                                        {{sha2}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-section-4" id="sec-6c0a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
            <h1 style="text-align: left;">
                <span style="line-height: 2; font-size: 2.25rem;">Разновидности</span>
            </h1>
            <p style="text-align: left;">SHA-1 и SHA-2 - две разные версии этого алгоритма. Они отличаются как
                полученный хеш создается из исходных данных и по длине в битах подписи. SHA-1 - это 160-битный хеш.
                SHA-2 является «семейством» хэшей и имеет различную длину, наиболее популярной из которых является
                256-битная.</p>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-image u-shading u-section-5" src="" data-image-width="750"
         data-image-height="328" id="sec-8acb">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-align-center u-clearfix u-section-6" id="sec-065f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Описание алгоритмов&nbsp;</h2>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h4 class="u-text u-text-default u-text-2"> SHA-1 (Secure Hash Algorithm 1)</h4>
                            <p class="u-text u-text-default u-text-3"> В криптографии SHA-1 (Secure Hash Algorithm 1) -
                                это криптографическая хэш-функция, которая принимает входные данные и создает 160-битное
                                (20-байтовое) хэш-значение, известное как дайджест сообщения, обычно отображаемое как
                                шестнадцатеричное число длиной 40 цифр. Он был разработан агентством национальной
                                безопасности США и Федеральному стандарту обработки информации США.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h5 class="u-text u-text-default u-text-4"> SHA-256&nbsp; (Secure Hash Algorithm 2)</h5>
                            <p class="u-text u-text-default u-text-5"> SHA256 - хеш-функция из семейства алгоритмов
                                SHA-2 предназначена для создания «отпечатков» или «дайджестов» для сообщений
                                произвольной длины. Применяется в различных приложениях или компонентах, связанных с
                                защитой информации. SHA-2 - улучшенная версия SHA-1.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-7" id="sec-9fd2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1024"
                         data-image-height="768">
                        <div class="u-container-layout u-container-layout-1"></div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1280"
                         data-image-height="720">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-section-8" id="sec-f68b">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
            <h1 style="text-align: left;">Криптоанализ SHA-1</h1>
            <p style="text-align: left;">
                <span style="font-size: 1.25rem;">Криптоанализ хеш-функций направлен на исследование уязвимости для различного вида атак. Основные из них:&nbsp;</span>
            </p>
            <ul id="isPasted"
                style=" margin: 0.3em 0px 0px 1.6em; padding: 0px; color: rgb(32, 33, 34); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                <li style="margin-bottom: 0.1em; font-size: 1.25rem;">нахождение коллизий&nbsp;— ситуация, когда двум
                    различным исходным сообщениям соответствует одно и то же хеш-значение.
                </li>
                <li style="margin-bottom: 0.1em; font-size: 1.25rem;">нахождение прообраза — исходного сообщения — по
                    его хешу.
                </li>
            </ul>
            <p id="isPasted">
                <span style="font-size: 1.25rem;">При решении методом «грубой силы»:</span>
            </p>
            <ul style=" margin: 0.3em 0px 0px 1.6em; padding: 0px; color: rgb(32, 33, 34); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                <li style="margin-bottom: 0.1em; font-size: 1.25rem;">первая задача требует в среднем 2160/2&nbsp;= 280&nbsp;операций,
                    если использовать&nbsp;атаку Дней рождения.
                </li>
                <li style="margin-bottom: 0.1em; font-size: 1.25rem;">вторая требует 2160 операций.</li>
            </ul>
            <p id="isPasted">
                <span style="font-size: 1.25rem;">От устойчивости хеш-функции к нахождению коллизий зависит безопасность электронной цифровой подписи с использованием данного хеш-алгоритма. От устойчивости к нахождению прообраза зависит безопасность хранения хешей паролей для целей аутентификации.</span>
            </p>
            <p>
                <span style="font-size: 1.25rem;">В январе&nbsp;2005 года&nbsp;Винсент Рэймен&nbsp;и Elisabeth Oswald опубликовали сообщение об атаке на усечённую версию SHA-1 (53 раунда вместо 80), которая позволяет находить коллизии меньше, чем за 280&nbsp;операций.</span>
            </p>
            <p>
                <span style="font-size: 1.25rem;">В феврале 2005 года Сяоюнь Ван, Ицюнь Лиза Инь и Хунбо Юй (Xiaoyun Wang, Yiqun Lisa Yin, Hongbo Yu) представили атаку на полноценный SHA-1, которая требует менее 269 операций.</span>
            </p>
        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-section-9" id="carousel_3c92">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
            <h1 style="text-align: left;">Криптоанализ SHA-256</h1>
            <p>
                <span style="font-size: 1.25rem;">В 2003 году Гилберт и Хандшух провели исследование SHA-2, но не нашли каких-либо уязвимостей. Однако в марте 2008 года индийские исследователи Сомитра Кумар Санадия и Палаш Саркар опубликовали найденные ими коллизии для 22 итераций SHA-256 и SHA-512. В сентябре того же года они представили метод конструирования коллизий для усечённых вариантов SHA-2 (21 итерация). Позднее были найдены методы конструирования коллизий для 31 итерации SHA-256 и для 27 итераций SHA-512.</span>
            </p>
            <p>
                <span style="font-size: 1.25rem;">Ввиду алгоритмической схожести SHA-2 с SHA-1 и наличия у последней потенциальных уязвимостей принято решение, что SHA-3 будет базироваться на совершенно ином алгоритме. 2 октября 2012 года NIST утвердил в качестве SHA-3 алгоритм Keccak.</span>
            </p>
        </div>
    </div>
</section>


<footer></footer>
<script>
    fetch('./blocks/header.html').then(response => response.text()).then(data => document.querySelector('header').outerHTML = data);
    fetch('./blocks/footer.html').then(response => response.text()).then(data => document.querySelector('footer').outerHTML = data);
</script>

</body>
</html>